{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Ranking - Jogo da Memória</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ranking.css' %}">
</head>
<body>
    <h1>Ranking</h1>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Posição</th>
                    <th>Nome</th>
                    <th>Tentativas</th>
                    <th>Data e Hora</th>
                </tr>
            </thead>
            <tbody>
                {% for partida in partidas %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ partida.jogador.username }}</td>
                        <td>{{ partida.tentativas }}</td>
                        <td>{{ partida.data_hora }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
